<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
                <h3>Edit the listing:</h3>
        <form method="post" action="/listings/<%=listing._id%>?_method=put">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Enter Title"type="text" value="<%=listing.title%>" class="form-control">
            </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control"><%=listing.description%></textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="Enter image URL"type="text" value="<%=listing.name%>"class="form-control">
        </div>
          
        <div class="row">
            <div class="col-4" class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter price" type="number" value="<%=listing.price%>"class="form-control">
            </div>
            <div  class="col-8" class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter country"type="text" value="<%=listing.country%>"class="form-control">
            </div>
        </div>
       
            
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location"type="text" value="<%=listing.location%>"class="form-control">
        </div>
        <br>
        <div class="mb-3">
            <button class="btn btn-dark edit-btn">Edit</button>
        </div>
        </form>
        <br><br>
        </div>
    </div>  
</body>
