<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit route</title>
</head>
<body>
    <p>Edit your chat</p>
    <div>
        <p>Id : <%=chat._id%></p>
        <p>This chat was sent from : <b><%=chat.from%></b> to : <b><%=chat.to%></b> </p>
        <form method="post" action="/chats/<%=chat._id%>?_method=put"> <!--"npm i method-override" to use put req-->
            <textarea name="newMsg" rows="5" cols="30"><%=chat.msg%></textarea>
            <button>Update</button>
        </form>
    </div>
    
    
    
</body>
</html>